@import './styles/variables';
@import './styles/mixins';
@import './styles/classes';

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}